/* SIDE MENU */
  .Cpanel,
  .Cpanel > div{
    width:100%;
    height:90vh;
    font-size:1.7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .Cpanel{-webkit-box-shadow: 2px 0px 9px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 0px 9px -1px rgba(0,0,0,0.75);
box-shadow: 2px 0px 9px -1px rgba(0,0,0,0.75);
    color:#fff;
    width: 20%;
    height: 100vh;
    transition: 1s;
    position: fixed;
    justify-content: center;
    background-color:var(--blue);
  }
  #Panel-head{
    height:10vh;
    color:#333;
    background-color: #fff;
  }
  #Panel-icons{ display: none; }
  .panelToggler{
    right:1vw;
    cursor: pointer;
    position:absolute;
  }
  .bar1, .bar2, .bar3 {
    width: 3vw;
    height: 1vh;
    margin: 6px 0;
    transition: 0.4s;
    background-color: #333;
  }
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 9px);
    transform: rotate(-45deg) translate(-9px, 9px);
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -9px);
    transform: rotate(45deg) translate(-9px, -9px);
  }
  .bar2 {opacity: 0;}
  .change .bar2 {opacity: 1;}
  .change .bar1,
  .change .bar3 {
    -webkit-transform: rotate(0) ;
    transform: rotate(0) ;
  }

/* ALL SECTIONS */
  .section{
    float:right;
    width:80%;
    height: 100vh;
    display: none;
    transition: all 1s;
    background-color: #eee;
  }
