@font-face { font-family: bold_politika; src: url('../Fonts/TTFs/bold_politika.ttf'); }
@font-face { font-family: bold_geo; src: url('../Fonts/TTFs/bold_geo.ttf'); }
@font-face { font-family: dzalian_bold; src: url('../Fonts/TTFs/dzalian_bold.ttf'); }
@font-face { font-family: daxrili_wvrili; src: url('../Fonts/TTFs/daxrili_wvrili.ttf'); }
@font-face { font-family: daxveuli; src: url('../Fonts/TTFs/daxveuli.ttf'); }
@font-face { font-family: mkrtali_daxveuli; src: url('../Fonts/TTFs/mkrtali_daxveuli.ttf'); }
@font-face { font-family: mkrtali_daxrili; src: url('../Fonts/TTFs/mkrtali_daxrili.ttf'); }
@font-face { font-family: mkrtali_grdzeli; src: url('../Fonts/TTFs/mkrtali_grdzeli.ttf'); }
@font-face { font-family: mrgvali_araa; src: url('../Fonts/TTFs/mrgvali_araa.ttf'); }
@font-face { font-family: superman; src: url('../Fonts/TTFs/superman.ttf'); }
@font-face { font-family: erti_zomis_gashlili_wierdo; src: url('../Fonts/TTFs/erti_zomis_gashlili_wierdo.ttf'); }
@font-face { font-family: mixril_moxrili_lamazzsdavudzaxebdi; src: url('../Fonts/TTFs/mixril_moxrili_lamazzsdavudzaxebdi.ttf'); }
@font-face { font-family: vazi; src: url('../Fonts/TTFs/vazi.ttf'); }
@font-face { font-family: sofia; src: url('../Fonts/TTFs/sofia.ttf'); }
