  .category-header{
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .category-header input,
  .category-header button,
  .category-header select{
    border:0;
    outline:0;
    float:left;
    width: 75%;
    height: 5vh;
    border-radius: 5px;
    padding-left: 10px;
  }

  .category-header button{width:20%; margin-left: 5%;}
  .create-category{grid-column: 1; width:80%;}
  .select-category{grid-column: 2; width:80%;}
  .search-category{grid-column: 3; width:80%;}

  /* CATEGORY LIST */
  .category-table{
    position: relative;
    overflow: scroll;
    width:100%;
    height:90vh;
    text-align: right;
    font-size:18px;
  }
  .category-table td{width:33.3%;}
  .category-table td > div{
    width:100%;
    text-align: center;
  }

  /* CHECKBOX */
  .category-table input[type="checkbox"] {display: none;}
  .category-table label {
    cursor: pointer;
    position: relative;
  }
  .category-table label::before {
    background: url("../../resource/admin/checked.png");
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    transform: scale(0) rotateZ(180deg);
    background-position: center;
    background-size: contain;
    position: absolute;
    height: 20px;
    width: 20px;
    content: "";
    left: -40px;
    top: -4px;
  }
  .category-table input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
  }
  .category-table label::after {
    border: 2px solid #2c65e6;
    border-radius: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    content: "";
    left: -42px;
    top: -6px;
  }
