/* CATEGORY */
  .category_table td i{
      font-size:1.5vw;
    }
    .category_table td{
      width:10%;
      z-index: -1;
      font-size:2vw;
    }
    .category_header{
      text-align: center;
      z-index: 1;
      position:sticky;
      position: -webkit-sticky;
      top:-1vh;
      width: 10%;
      height: 10vh;
    }
    .category_input{
      text-align: center;
      height: 6vh;
      width: 80%;
      font-size: 1vw;
      border-radius: 3px;
      border:0;
      outline:0;
      margin:1% 0 0 5%;
    }
    #category_add{
      height: 6vh;
      top:2vh;
      width: 10%;
      border-radius: 3px;
      border:0;
      outline:0;
    }
    .category_select option{
      justify-content: center;
      background-color:white;
      color:#2196f3;
    }
    .category_select{
      height: 6vh;
      width: 80%;
      margin:1% 0 0 5%;
      border-radius: 3px;
      border:0;
      outline:0;
    }
    #trash{
      height: 6vh;
      top:2vh;
      width: 10%;
      border-radius: 3px;
      border:0;
      outline:0;
    }
    .search_category{
      text-align: center;
      height: 6vh;
      width: 80%;
      font-size: 1vw;
      top:2vh;
      margin:1% 0 0 5%;
      border:0;
      outline:0;
      border-radius: 4px;
    }
    #category-search-button{
      height: 6vh;
      top:2vh;
      width: 10%;
      border-radius: 3px;
      border:0;
      outline:0;
    }
    .category_table button{
      background-color:#2196f3;
      color:white;
    }
    .category_table button:hover{
      color:white;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    }
    .category_table input::placeholder{
      color:#eee;
    }
