.inbox-header{
    font-family: "Sofia";
    font-size:2.3vw;
    position: sticky;
    color:white;
    top:0;
    z-index: 10;
    height:10vh;
    width:100%;
    text-align: center;
    background:#595959;
  }
  .chat_list{
    font-family: "Sofia";
    position: relative;
    top:0;
    overflow: scroll;
    float:right;
    background-color: #fff;
    width:25%;
    height: 100vh;
    border-left:7px solid #2196F3;
  }
  .close_class{
    display: none;
  }
  #custom_id{
    display: none;
  }
  .inbox{
    text-align: center;
    height: 10vh;
    width: 100%;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 3px solid #2196F3;
    border-top: 6px solid #2196F3;
    float:right;
  }
  .inbox:hover{
    border-radius: 4px;
    border-bottom:none;
    transition: 1s;
    background-color: #2196F3;-webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);

  }
  .inbox p{
    justify-content: center;
    margin-top:0.5%;
  }
  .inbox h6{
    margin:-3% 2% 0 0;
    float:right;
  }

  .chat{
    position: relative;
    overflow: scroll;
    float:right;
    height: 80vh;
    width: 75%;
    background-color:#eee;
  }

  .sent_meesage_input{
    -webkit-box-shadow: 0px -2px 4px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 4px 12px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 4px 12px rgba(0,0,0,0.75);
    border:0;
    background-color: #333;
    outline:0;
    width: 75%;
    margin-top:80vh;
    height: 20vh;
  }

  .inbox_new_message textarea::placeholder{color:#E5E5E5;margin-left:3%;}
  .inbox_new_message textarea{
      background-color: #333;
      color:white;
      border:0;
      outline:0;
      word-wrap: break-word;
      height: 19vh;
      margin:1vh 0 0 1%;
      width: 80%;
      resize: none;
      outline:0;
  }
  .message_arrive {
    font-size: 1.5vw;
    float: left;
    width: 100%;
    margin:4vh 0 0 2vw;
  }
  .message_arrive p{
    margin-left: 1vw;
  }
  .message_arrive_text{
    word-wrap: break-word;
    font-size:1.2vw;
    width: 30%;
    height: auto;
    border-radius: 5px;
  }
  .message_sent {
    width:  100%;
    background-color: #eee;
    border-radius: 5px;
    font-size: 1.5vw;
    float: right;
    margin:2vh 2vw 0 0;
  }
  .message_send_text{
    font-size:1.2vw;
    width: 30%;
    float:right;
    height: auto;
    border-radius: 5px;
  }
  .message_send_text p{
    margin-left: 1vw;
  }
  .send_button{
    font-family: "Desc_font";
    transition: 1s;
    height: 6vh;
    width:15%;
    position: relative;
    float:right;
    margin:5% 3% 0 0;
    border-radius: 3px;
    outline:0;
  }
