.customize_header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color:white;
    justify-content:space-around;
  }
  .customize{
    letter-spacing: 2px;
    width:20%;
    height:70%;
    font-size:1.7vw;
    float: left;
    background-color: #2196F3;
    color:white;
    border:0;
    border-radius: 4px;
  }
  /* banner css */
  .banner_class{
      width:100%;
      height: 90vh;
    }

    .banner_class input[type="text"]{
      outline:0;
      color:#333;
      border:0;
      border-radius: 3px;
      padding-left: 1%;
    }
    #banner_photo{
      display: none;
    }
    .banner_class h2{
      font-family: 'banner_font';
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
      word-spacing:4px;
      color:#2196F3;
      margin:1% 0 2% 0;
      text-align: center;
    }
    .banner_class label{
      width:10%;
      height: 13vh;
      margin:0% 0 3% 45%;
      display: block;
    }
    .banner_class label img{
      cursor: pointer;
      width:100%;
      height: 13vh;
    }
    #banner_text{
      width:30%;
      height:6vh;
      margin-left:30%;
    }

  /* catalog css */
  .New-catalog{
        text-align: center;
        font-size:5vw;
        width:15%;
        height: 33vh;
        float:left;
        margin:1% 0 0 0;
      }
      .New-catalog button{
        background-color:#2196F3;
        border:0;
        outline:0;
        cursor:pointer;
        color:white;
        font-size:8vw;
      }
      .Admin-Catalog{
        margin:1% 0 0 1%;
        width:83%;
        background-color: black;
        float:left;
      }
      .Admin-gallery-cell {
        width: 20%;
        height: 33vh;
        right:0;
        background-color: red;
        counter-increment: gallery-cell;
      }
      .Admin-gallery-cell img {
        width: 100%;
        height: 33vh;
      }
      .Admin-flickity-prev-next-button {
        display: inline-block;
        margin: 1% 0 0 0;
      }

      .dark-bg {
        background-color: black;
        top: 0;
        display: none;
        width: 100%;
        height:100vh;
        opacity: 1;
        position: absolute;
        opacity: 0.6;
      }

      .prodGallery {
        position: absolute;
        overflow: scroll;
        top: 2.5vh;
        height: 90vh;
        display: none;
        width: 71%;
        border-radius: 9px;
        background-color: #2196F3;
        margin-left: 5%;
        z-index: 1;
      }
      .prodGallery-sticky input[type="text"]::placeholder{
        color:#eee;
      }
      .prodGallery-sticky input{
        padding-left: 10px;
        margin:1vh 0 0 25%;
        border-radius:3px;
        border:0;
        background-color: #2196F3;
        outline:0;
        color:white;
        width:50%;
        height:6vh;
        font-size:1.4vw;
      }
      .prodGallery-cell h4{
        font-family: 'sofia';
      }
      .prodGallery-sticky{
        width:100%;
        height:8vh;
        background-color: #eee;
        position: sticky;
        top:0;
      }
      .prodGallery::-webkit-scrollbar{
        display: none;
      }
      .prodGallery button {
        position: absolute;
        top:1vh;
        background-color:#cbcbcb;
        border-radius: 10px;
      }
      #add_prod_butt {
          left:2vw;
      }
      #close_products {
          right:2vw;
      }

      .prodGallery-cell {
        font-family: 'prod_name_font';
        border-radius:7px;
        float:left;
        margin: 3% 2.5% 0 2.5%;
        width: 20%;
        height: 43vh;
        cursor: pointer;
        background: #eee;
        text-align: center;
      }
      .prodGallery-cell img{
        width:100%;
        height:25vh;
      }

  /* location css */
  .location_class{
      margin:2% 0 0 0;
      text-align: center;
      width: 100%;
    }
    .location_class button{border-radius:20px;}
    .location_iframe{margin:5vh 0 0 0vw;}

  /* description css */
  .description_class{}
    .dascription_form{
      width: 98%;
      height: 90vh;
      display: grid;
      margin-left: 1%;
      grid-template-rows:2;
      grid-template-columns: 40% 30% 30%;
    }
    .test1,.test2,.test3,.test4,.test5,.test6{
      width: 100%;
      height: 40vh;
      text-align: center;
      justify-content: center;
    }

    .test1 img{ width: 100%; height: 40vh; }
    .test1 { grid-column:1; grid-row:1; }
    .test2 { grid-column:2; grid-row:1; }
    .test2 p{
      margin:8vh 0 0 0;
      align-items: center;
      font-size: 1.5vw;
    }

    .test3{ grid-column:3; grid-row:1; }
    .test3 textarea{
      width: 98%;
      outline: 0;
      height:16vh;
      resize: none;
      margin:4vh 0 0 1%;
    }
    .test3 img{height:10vh;}
    .test3 button{
      border-radius: 25px;
      margin-top: 2vh;
    }
    .test4{
      background: blue;
      grid-column: 1;
      grid-row: 2;
    }
    .test5{
      background: green;
      grid-column: 2;
      grid-row: 2;
    }
    .test6{
      background: brown;
      grid-column: 3;
      grid-row: 2;
    }
  #banner_form,#location_form,#description_form,#catalog_form{display: none;margin:3% 0 0 5%;}
