.customize_header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color:white;
    justify-content:space-around;
  }
  .customize{
    letter-spacing: 2px;
    width:20%;
    height:70%;
    font-size:1.7vw;
    float: left;
    background-color: #2196F3;
    color:white;
    border:0;
    border-radius: 4px;
  }
  /* banner css */

  .banner_class{
      width:100%;
      height: 90vh;
      display: block;
      word-spacing:4px;
      letter-spacing: 1px;
      text-align: center;
    }
    .banner_class h2{ color:#2196F3; }

    .banner_class label img{ width:100%; }
    .banner_class label{
      width:10%;
      height: 13vh;
      display: block;
      cursor: pointer;
      margin:0% 0 3% 45%;
    }
    .banner_class input{
      width:30%;
      height:6vh;
    }
    .banner_class > .Poster{
      margin:2%;
      width: 96%
    }
  /* catalog css */
  .New-catalog{
        text-align: center;
        font-size:5vw;
        width:15%;
        height: 33vh;
        float:left;
        margin:1% 0 0 0;
      }
      .New-catalog button{
        background-color:#2196F3;
        border:0;
        outline:0;
        cursor:pointer;
        color:white;
        font-size:8vw;
      }
      .Admin-Catalog{
        margin:1% 0 0 1%;
        width:83%;
        background-color: black;
        float:left;
      }
      .Admin-gallery-cell {
        width: 20%;
        height: 33vh;
        right:0;
        background-color: red;
        counter-increment: gallery-cell;
      }
      .Admin-gallery-cell img {
        width: 100%;
        height: 33vh;
      }
      .Admin-flickity-prev-next-button {
        display: inline-block;
        margin: 1% 0 0 0;
      }

      .dark-bg {
        background-color: black;
        top: 0;
        display: none;
        width: 100%;
        height:100vh;
        opacity: 1;
        position: absolute;
        opacity: 0.6;
      }

      .prodGallery {
        position: absolute;
        overflow: scroll;
        top: 2.5vh;
        height: 90vh;
        display: none;
        width: 71%;
        border-radius: 9px;
        background-color: #2196F3;
        margin-left: 5%;
        z-index: 1;
      }
      .prodGallery-sticky input[type="text"]::placeholder{
        color:#eee;
      }
      .prodGallery-sticky input{
        padding-left: 10px;
        margin:1vh 0 0 25%;
        border-radius:3px;
        border:0;
        background-color: #2196F3;
        outline:0;
        color:white;
        width:50%;
        height:6vh;
        font-size:1.4vw;
      }
      .prodGallery-cell h4{
        font-family: 'sofia';
      }
      .prodGallery-sticky{
        width:100%;
        height:8vh;
        background-color: #eee;
        position: sticky;
        top:0;
      }
      .prodGallery::-webkit-scrollbar{
        display: none;
      }
      .prodGallery button {
        position: absolute;
        top:1vh;
        background-color:#cbcbcb;
        border-radius: 10px;
      }
      #add_prod_butt {
          left:2vw;
      }
      #close_products {
          right:2vw;
      }

      .prodGallery-cell {
        font-family: 'prod_name_font';
        border-radius:7px;
        float:left;
        margin: 3% 2.5% 0 2.5%;
        width: 20%;
        height: 43vh;
        cursor: pointer;
        background: #eee;
        text-align: center;
      }
      .prodGallery-cell img{
        width:100%;
        height:25vh;
      }

  /* location css */
  .location_class{
      margin:2% 0 0 0;
      text-align: center;
      display:none
    }
    .location_class button{border-radius:20px;}
    .location_iframe{margin:5vh 0 0 0vw;}

  /* description css */
  .description{
    display: flex;
    width: 100%;
    height: 40vh;
    margin:2% 0 2% 0;
    align-items: center;
    justify-content:space-around;
  }
  .description > div{
    height: 35vh;
    width: 45%;
  }

  .description-image{
    justify-content:center;
    align-items: center;
    display: flex;
  }
  .description > .left{
    background: url("../../resource/index/desc2.jpg") no-repeat ;
    background-size: 100%;
  }
  .description > .right{
    background: url("../../resource/index/desc1.jpg")  no-repeat ;
    background-size: 100%;
  }

  .description-image  label{
    width:30%;
    opacity: 0;
    height: 25vh;
  }
  .description-image  img{
    width: 100%;
    height: 100%;
  }
  .description-image:hover > label{
    opacity: 1;
    cursor: pointer;
    transition:all 0.5s;
  }

  .description > div textarea{
    padding:5%;
    width: 100%;
    height: 28.5vh;
    font-size: 1.5vw;
  }
  .description > div button{ width: 100%; }
