    /* PRODUCT HEADER  */
    .product-header{
      width:100%;
      height:10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
    .product-header button{
      width:4%;
      height:7vh;
      color:white;
      margin-left: 1%;
      background-color:var(--blue);
    }

    /* PRODUCT SEARCH */
    .Search{
      width:50%;
      color:white;
      border-radius:7px;
      font-family: 'Desc_font';
      background-color:var(--blue);
    }
    .Search .fa{
      width:10%;
      height: 7vh;
      font-size: 2vw;
      display: flex;
      cursor: pointer;
      align-items: center;
    }
    .Search input{
      width:80%;
      height:7vh;
      float:left;
      margin-left:10%;
      text-align: center;
      background: transparent;
    }
    .Search input::placeholder{color:white;}

    /* PRODUCT CREATING FORM */
    .create-product{
      padding:2%;
      width:70%;
      height: 83vh;
      display: none;
      background: #fff;
      margin:2% 0 0 15%;
    }
    .create-product input,
    .create-product select,
    .create-product textarea{
      width:35%;
      height: 5vh;
      float:left;
      padding-left:2%;
      margin-bottom:2%;
      background: #eee;
    }
    .create-product input[type="number"], #currency{
      width:10%;
      margin-left:4%;
    }
    .create-product textarea{
      width:49%;
      height:20vh;
      resize:none;
    }

    .choose-category{
      float:right;
      width:49%;
      height:34.5vh;
      font-size:1.5vw;
      background: #eee;
      overflow: scroll;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .choose-category > div{
      width:50%;
      height:7vh;
      display: flex;
      justify-content: space-around;
    }
    .choose-category input{width:10%;}

    .create-product label{
      background: #eee;
      width:100%;
      height:30vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .create-product img{
      width:20%;
      height: 60%;
      cursor: pointer;
    }
    #upload-button{display: none;}

    .create-product button{
      width:100%;
      height:6vh;
      display: block;
      margin:3% auto;
      font-size:1.3vw;
      border-radius: 3px;
    }

    /* GALLERY PRODUCT FILTER */
    .gallery{
      width:100%;
      height:230vh;
      font-size:1.6vw;
      background: #eee;
      text-align: center;
      font-family: 'Desc_font';
    }
    .gallery select, .gallery input,
    .gallery input::placeholder {
      height:5vh;
      color:white;
      font-size:1.4vw;
      border-radius: 4px;
      text-align: center;
      background-color:var(--blue);
    }

    /* GALLERY PRODUCT LIST */
    .product-cell{
      float:left;
      width:20%;
      margin:5% 0 0 4%;
      border-radius:5px;
      font-size:1.4vw;
      background-color:var(--blue);
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }
    .product-cell form,
    .product-cell button{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 7vh;
      color:white;
      background: var(--blue);
    }
    .product-cell img{
      width:100%;
      height:30vh;
    }
    .product-cell i{ cursor: pointer; }
