
/* PRODUCT HEADER PANEL */
    .add_butt{
      height:7vh;
      float:left;
      margin:-0.5% 0 0 1%;
      border-radius: 2px;
      font-size: 1.7vw;
      letter-spacing: 2px;
      display: none;
      outline:none;
    }
    #close_upload{display: inline;}
/* PRODUCT SEARCH */
    .Search form{
      font-family: 'Desc_font';
        transition:1s;
        box-sizing: border-box;
        margin-top: 0.5%;
        border-radius: 3px;
        padding: 5px;
    }

    .Search input::placeholder{color:white;}
    .Search input{
      float:left;
      margin-left:13.7%;
      text-align: center;
      background-color: #2196F3;
      width:60%;
      height:7vh;
      outline: 0;
      border: 0;
      display: block;
      color:white;
      border-radius: 3px;
    }
    .Search .fa{
        box-sizing: border-box;
        float:left;
        margin:0.7% 0 0 -4%;
        border-radius: 50%;
        color:white;
        text-align: center;
        font-size: 2vw;
        transition: all 1s;
    }
    .Search form:hover{
        cursor: pointer;
    }

/* PRODUCT ADD FORM */
  #create_post{display: none;}
    .add_post_container{
      border:0;
      outline:0;
      height:10vh;
      color:black;
    }
    .add_post{
      position: relative;
      background-color:#eee;
      width:100%;
      left:15vw;
      height:70vh;
      display: inline;
    }
    .upload_product{
      width:13%;
      height: 15vh;
      margin:25vh 0 0 25%;
    }
    .upload_product img{
      cursor: pointer;
      width:100%;
      height: 15vh;
    }
    .add_post input{
      width:25%;
      height:7vh;
      margin-top:2vh;
      outline:0;
    }
    .add_post input[type="number"]{
      width:6vw;
    }
    .add_post input::placeholder{font-size:1.7vw;}
    .add_post textarea {
        margin:1% 0 0 0 ;
        font-size: 1vw;
        width:32%;
        height:17vh;
        resize: none;
        outline:0;
        float:left;
        border:0.5px solid #C6C0C0;}
    .add_post button{width:62.5%;transition: 1s;}
    #fullwindow{
      width:100vw;
      position: absolute;
      left:0;
      top:0;
      display: none;
      z-index: 1;
      overflow: none;
      height:100vh;
      background-color: black;
    }
    .section_select{
      width:25%;
      height:6vh;
      font-size: 1.6vw;
      display: inline;
    }
    .add_post input[type="number"]{
      width:6.5%;
    }
    .currency{
      width:6.5%;
      height: 5vh;
    }
    .select_category{
      width:25%;
      height: 39vh;
      overflow: scroll;
      position: relative;
      float:left;
      top: 5.2vh;
      margin:-25vh 0 3% 5%;
      display: block;
    }
    .select_category input{
      height: 2vh;
      width: 5vw;
      position: absolute;
      left: 0;
    }

/* FILTER FOR PRODUCT GALLERY */
  .prod-filter option{
      background-color: white;
      color:#2196f3;
    }
    .prod-filter{
      width:100%;
      text-align: center;
    }
    .selectall{
      font-family: 'Desc_font';
      text-decoration: none;
      font-size:1.6vw;
      text-align: center;
      color:black;
    }
    .sect-filter{
      border-radius: 4px;
      width:7%;
      height:5vh;
      border:0;
      outline:0;
    }
    .category-filter{
      width:10%;
      height:5vh;
      border-radius: 4px;
      border:0;
      outline:0;
    }
    .prod-filter input[type="number"]::placeholder{
      color:white;
    }
    .prod-filter input[type="number"]{
      border:0;
      outline:0;
      width:7%;
      height:5vh;
      text-align: center;
      border-radius: 4px;
    }

/* GALLERY IMG AT PRODUCT */
  .prod-list{
      margin:2% 0 0 1%;
      width:99%;
      height:69vh;
      background-color: #EFEFEF;
      position: relative;
      overflow: scroll;
    }
    .gallery_img:hover{
      transition: 1s;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .gallery_img{
      text-align: center;
      cursor: pointer;
      height: 50vh;
      width: 20%;
      background-color: #D4DEDC;
      margin: 2% 0 2% 4%;
      float: left;
      transition: 1s;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }
    .gallery_img button{
      height: 5vh;
    }
    .gallery_img input{
      margin:4% 0 0 0;
    }
    .gallery_img img{
      height: 40vh;
      width: 100%;
    }
    .product_cost{
      height: 5vh;
      width: 100%;
      visibility: visible;
      text-align: center;
      opacity:1;
      transition: visibility 0.5s, opacity 0.5s linear;
      background-color: #2196F3;
    }
    .product_cost p{
      font-family: 'Desc_font';
      font-size:1.5vw;
      display: inline-block;
      margin-top:1%;
    }
    .trash_button{
      background-color: #B8C8C6;
      float: right;
    }
    .pencil_button{
      background-color: #B8C8C6;
      float: left;
      transition: 1s;
    }
    .pencil{
      font-size: 1.5vw;
      padding: 5px;
    }
    .product_header{
      width:100%;
      height: 10vh;
    }
    .product_space{
      width:100%;
      background-color: #eee;
      height:auto;
    }
    .logout{
      top:1.4vh;
      right:2vw;
      position: absolute;
    }
    #gallery{background-color: #eee;}
